<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entradaspe - Facil y seguro para todos</title>
    <link rel="icon" type="image/png" href="{% static 'imagenes/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static  'homePage/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="row justify-content-center align-items-center g-2 ">
        <!-- Header -->
        <div class="container-fluid row gradient-bg m-0">
            <div class="col-md-6 d-grid justify-content-center mt-3 mb-3">
                <img src="{% static 'imagenes/headerlogo.png' %}"
                    style="width: 100%; min-width: 100px; max-width: 200px; cursor: pointer;"
                    onclick="javascript:location.reload(true)" />
            </div>
            <div class="col-md-6 d-grid justify-content-center align-items-center mt-3 mb-3">
                <a name="" id="" class="btn btn-primary text-center table-hover text-poppins" href="/administrar"
                    role="button"
                    style="width: 100%; min-width: 100px; max-width: 300px; background-color: var(--red); font-size: 1.2em; border-color: var(--red);"><i
                        class="fas fa-user-cog"></i>&nbsp;Administrar entradas</a>
            </div>
        </div>
        <!-- Banner -->
        <div class="container-fluid row gradient-bg m-0 p-0 overflow-hidden">
            <img class="p-0" id="banner-image" src="{% static 'homePage/images/bannerpc.jpg' %}" style="width: 100%;" />
        </div>
        <!-- Promotional msg -->
        <div class="container-fluid row m-0" style="background-color: var(--red);">
            <div class="col-md-7 d-grid justify-content-center mt-3 mb-3">
                <h1 class="text-white text-poppins-italic text-center">ADQUIERE TUS ENTRADAS EN</h1>
            </div>
            <div class="col-md-5 d-grid justify-content-center align-items-center mt-1 mb-1">
                <img src="{% static 'homePage/images/zonacines.jpg' %}"
                    style="width: 100%; min-width: 100px; max-width: 300px;" />
            </div>
        </div>
        <div id="pContainer" class="row mt-4 d-flex justify-content-center"
            style="padding-left: 15%; padding-right: 15%;">
            <!-- Search -->
            <div class="row">
                <div class="col-md-6 my-2 d-grid align-items-center">
                    <div class="d-flex justify-content-center">
                        <input type="text" class="form-control text-poppins text-center bg-grey" name="" id="txtSearch1"
                            placeholder="Busca por artista, evento o lugar"
                            style="width: 100%; max-width: 600px; font-size: 1.5em;">
                    </div>
                </div>
                <div class="col-md-6 my-2 d-flex">
                    <div class="col-4 d-grid justify-content-center align-items-center">
                        <div class="container d-flex justify-content-center">
                            <i class="fas fa-layer-group" style="font-size: 2em;"></i>
                        </div>
                        <h1 class="text-poppins m-0 mt-1 text-center" style="font-size: 1em;">CATEGORIAS</h1>
                    </div>
                    <div class="col-4 d-grid justify-content-center align-items-center">
                        <div class="container d-flex justify-content-center">
                            <i class="fas fa-map-marker-alt" style="font-size: 2em;"></i>
                        </div>
                        <h1 class="text-poppins m-0 mt-1 text-center" style="font-size: 1em;">CIUDAD</h1>
                    </div>
                    <div class="col-4 d-grid justify-content-center align-items-center">
                        <div class="container d-flex justify-content-center">
                            <i class="fas fa-calendar" style="font-size: 2em;"></i>
                        </div>
                        <h1 class="text-poppins m-0 mt-1 text-center" style="font-size: 1em;">FECHAS</h1>
                    </div>
                </div>
            </div>
            <!-- Lo mas CHEVERE -->
            <div class="row mt-2">
                <div class="container d-flex align-items-center">
                    <i class="fas fa-star m-0" style="font-size: 1.5em; color: var(--red);"></i>
                    <h1 class="m-0">&nbsp;Lo mas CHÉVERE</h1>
                </div>
            </div>
            <!-- Eventos -->
            <div class="row mt-2 d-flex">
                <!-- Item 1 -->
                <div class="col-xxl-4 col-md-6 col-12 p-0 mx-0 d-flex justify-content-center">
                    <div class="container d-grid p-0 mx-2 justify-content-center mt-3 bg-white shadow-lg rounded">
                        <div class="container w-100 p-0"> <img class="w-100"
                                style="min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                                src="{%static 'homePage/images/item2.jpg'%}" />
                        </div>
                        <div class="container w-100 p-0 px-2 d-flex my-0">
                            <div class="col-3 d-flex justify-content-center text-poppins align-items-center text-center"
                                style="font-size: 1.6em;"><img class="my-1" style="min-width: 90%; max-width: 90%;" href="/comprar"
                                    src="{%static 'homePage/images/logosmall.png'%}" />
                            </div>
                            <div class="col-9 d-flex justify-content-center align-items-center">
                                <h1 class="text-center" style="font-size: 1.8em;">Huaralino Internacional</h1>
                            </div>
                        </div>
                        <div class="container w-100 p-0 align-items-center d-flex" style="background: var(--red_box);">
                            <div class="col-12 d-flex justify-content-center align-items-center text-center"
                                style="font-size: 1.4em;">
                                <i class="fas fa-calendar my-1">&nbsp;&nbsp;Sábado 23 Septiembre - 9 pm</i>
                            </div>
                        </div>
                        <div class="container w-100 p-0 d-flex my-3">
                            <div class="col-6 d-flex justify-content-center rounded-bottom align-items-center"
                                style="font-size: 1.4em;">
                                <h1 class="text-poppins d-flex m-0 text-center " style="font-size: .8em;">
                                    Desde: S/
                                    30.00</h1>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <a name="" id="" class="btn btn-primary text-center table-hover text-poppins"
                                    href="/comprar" role="button"
                                    style="min-width: 100px; max-width: 300px; background-color: var(--red); font-size: 1.2em; border-color: var(--red);">
                                    &nbsp;Comprar&nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="col-xxl-4 col-md-6 col-12 p-0 mx-0 d-flex justify-content-center">
                    <div class="container d-grid p-0 mx-2 justify-content-center mt-3 bg-white shadow-lg rounded">
                        <div class="container w-100 p-0"> <img class="w-100 img-fluid"
                                style="min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                                src="{%static 'homePage/images/item1.jpg'%}" />
                        </div>
                        <div class="container w-100 p-0 px-2 d-flex my-0">
                            <div class="col-3 d-flex justify-content-center text-poppins align-items-center text-center"
                                style="font-size: 1.6em;"><img class="my-1" style="min-width: 90%; max-width: 90%;"
                                    src="{%static 'homePage/images/logosmall.png'%}" />
                            </div>
                            <div class="col-9 d-flex justify-content-center align-items-center">
                                <h1 class="text-center" style="font-size: 1.8em;">Grupo 5 en
                                    Iquitos</h1>
                            </div>
                        </div>
                        <div class="container w-100 p-0 align-items-center d-flex" style="background: var(--red_box);">
                            <div class="col-12 d-flex justify-content-center align-items-center text-center"
                                style="font-size: 1.4em;">
                                <i class="fas fa-calendar my-1">&nbsp;&nbsp;Domingo 25 Junio - 6 pm</i>
                            </div>
                        </div>
                        <div class="container w-100 p-0 d-flex my-3">
                            <div class="col-6 d-flex justify-content-center rounded-bottom align-items-center"
                                style="font-size: 1.4em;">
                                <h1 class="text-poppins d-flex m-0 text-center " style="font-size: .8em;">
                                    Desde: S/
                                    100.00</h1>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <a name="" id="" class="btn btn-primary text-center table-hover text-poppins"
                                    href="/comprar" role="button"
                                    style="min-width: 100px; max-width: 300px; background-color: var(--red); font-size: 1.2em; border-color: var(--red);">
                                    &nbsp;Comprar&nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxl-4 col-md-6 col-12 p-0 mx-0 d-flex ">
                    <div class="container d-grid p-0 mx-2 justify-content-center mt-3 bg-white shadow-lg rounded bg-promotional text-border-black"
                        style="background-image: url('{% static 'homePage/images/adbanner.jpg' %}');">
                        <div class="container my-5 text-poppins text-white text-center text-border-black"
                            style="font-size: 1.8em;">
                            ¿TIENES UN EVENTO?
                        </div>
                        <div class="container text-poppins-italic text-white text-center text-border-black"
                            style="font-size: 1.4em;">
                            TE AYUDAMOS A QUE SEA UN
                        </div>
                        <div class="container text-bitter-900 text-white text-center text-border-black"
                            style="font-size: 6em;">
                            EXITO
                        </div>
                        <div class="container d-flex justify-content-center align-items-center"
                            style="margin-bottom: 50%;">
                            <a name="" id="" class="btn btn-primary text-center table-hover text-bitter-900"
                                href="https://api.whatsapp.com/send/?phone=%2B51965636153&text=Hola%2C+EntradasPE&type=phone_number&app_absent=0"
                                role="button" target="_blank" style=" min-width: 100px; max-width: 300px; background-color: var(--red); font-size:
                                1.8em; border-color: var(--red);">
                                &nbsp;CONVERSEMOS&nbsp;
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- Footer -->
        <div class="container">
            <div class="container-fluid row gradient-bg m-0 mt-5 d-flex">
                <div class="col-xxl-3 col-12 d-xxl-grid d-none justify-content-center mt-3 mb-3 align-items-center"
                    style="border-style: solid; border-left: 0px; border-top: 0px;border-bottom: 0px;  border-color: white; ">
                    <img src="{% static 'homePage/images/logosmallwhite.png' %}"
                        style="width: 100%; min-width: 100px; max-width: 200px; cursor: pointer;"
                        onclick="javascript:location.reload(true)" />
                </div>

                <div class="col-xxl-3 col-md-4 col-12 d-xxl-grid justify-content-center mt-3 mb-3">
                    <div class="container d-flex justify-content-center ">
                        <h1 class="text-poppins text-white text-center" style="font-size: 1.8em;">Conócenos</h1>
                    </div>
                    <div class="container d-grid">
                        <a name="" id="" class="table-hover text-poppins-300 text-white text-center" href="/"
                            role="button" style="font-size: 1.2em;">
                            &nbsp;Acerca de nosotros&nbsp;
                        </a>
                        <a name="" id="" class="table-hover text-poppins-300 text-white text-center" href="/"
                            role="button" style="font-size: 1.2em; ">
                            &nbsp;Preguntas frecuentes&nbsp;
                        </a>
                        <a name="" id="" class="table-hover text-poppins-300 text-white text-center" href="/"
                            role="button" style="font-size: 1.2em; ">
                            &nbsp;Términos y condiciones&nbsp;
                        </a>
                        <a name="" id="" class="table-hover text-poppins-300 text-white text-center" href="/"
                            role="button" style="font-size: 1.2em;">
                            &nbsp;Pólitica de privacidad&nbsp;
                        </a>
                    </div>
                </div>

                <div class=" col-xxl-3 col-md-4 col-12  d-xxl-grid justify-content-center mt-3 mb-3" style="">
                    <div class="container d-flex justify-content-center">
                        <h1 class="text-poppins text-white text-center" style="font-size: 1.8em;">Contáctanos</h1>
                    </div>
                    <div class="container d-flex p-0">
                        <a name="" id="" class="col-4 table-hover text-poppins-300 text-white text-center" href="/"
                            role="button" style="font-size: 4em; text-decoration: none;">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                        <a name="" id="" class="col-4 table-hover text-poppins-300 text-white text-center" href="/"
                            role="button" style="font-size: 4em; text-decoration: none;">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                        <a name="" id="" class="col-4 table-hover text-poppins-300 text-white text-center" href="/"
                            role="button" style="font-size: 4em; text-decoration: none;">
                            <i class="fas fa-envelope"></i>
                        </a>

                    </div>
                </div>

                <div class=" col-xxl-3 col-md-4 col-12 d-xxl-grid justify-content-center mt-3 mb-3" style="">
                    <div class="container d-flex justify-content-center">
                        <h1 class="text-poppins text-white text-center" style="font-size: 1.8em;">Reclamaciones
                        </h1>
                    </div>
                    <div class="container d-flex p-0 w-100 justify-content-center">
                        <img class="w-75" style="max-width: 300px;" src="{%static 'homePage/images/libro.png'%}" />
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
<script src="{%static 'homePage/script.js'%}"></script>

</html>
