<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar - entradaspe</title>
    <link rel="icon" type="image/png" href="{% static 'imagenes/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'comprarPage/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body onload="">
    <div class="justify-content-center align-items-center g-2 m-0 p-0">
        <form id="comprarForm" class="row justify-content-center align-items-center g-2 m-0 p-0" autocomplete="off"
            action="{% url 'comprarPage' %}" method="post" style="background-color: #0000000f;">
            {% csrf_token %}
            <!-- Header -->
            <div class="container-fluid d-grid d-md-flex gradient-bg m-0 align-items-center p-0">
                <div class="col-md-6 d-grid justify-content-center my-1">
                    <img src="{% static 'imagenes/headerlogo.png' %}"
                        style="width: 100%; min-width: 100px; max-width: 150px; cursor: pointer;"
                        onclick="javascript:window.location.href = '/'" />
                </div>
            </div>
            <!-- Banner -->
            <div class=" container d-grid d-md-flex p-0 m-0 px-xxl-15 px-xl-5"
                style="background-color: rgba(255,223,1,180);">
                <div class="col-12 col-md-6 m-0 p-0 d-grid align-items-center">
                    <div class="container-fluid row m-0 p-0 overflow-hidden d-flex justify-content-center"
                        style="background: black;">
                        <img class="p-0" id="banner-image" src="{% static 'imagenes/folleto.jpg' %}"
                            style="width: 100%; min-width: 300px;" />
                    </div>
                </div>
                <!-- Zonas -->
                <div class="col-12 col-md-6 d-flex m-0 p-0 justify-content-center">
                    <div class="container px-0 d-md-flex d-grid px-xxl-4 px-md-3 m-0 my-3"
                        style="justify-content: stretch;">
                        <div class="container d-grid">
                            <div class="container d-grid border-round-5 justify-content-stretch" id="containerEscenario"
                                style="background-color: #ffffff55;">
                                <div class="row justify-content-center">
                                    <button type="button"
                                        class="btn btn-primary mt-3 d-grid align-items-center justify-content-center"
                                        style="width: 50%; min-height: 60px; background: black; border: none; font-size: 1.6em;">ESCENARIO</button>
                                </div>
                                <div class="row justify-content-center">
                                    <button type="button" class="btn btn-primary mt-3" id="buttonVIP"
                                        style="width: 80%; min-height: 60px;  background: rgba(253,176,0,255); border: none; font-size: 1.6em;"
                                        onclick="elegirEntrada('VIP')">VIP
                                        (S/ 50)</button>
                                </div>
                                <div class="row justify-content-center">
                                    <button type="button" class="btn btn-primary mt-3 mb-3" id="buttonGeneral"
                                        style="width: 80%; min-height: 120px;  background: rgba(0,199,66,255); border: none; font-size: 1.6em;"
                                        onclick="elegirEntrada('GENERAL')">GENERAL
                                        (S/ 30)</button>
                                </div>
                            </div>
                            <div class="container d-grid mt-2 border-round-5" style="background-color: #ffffffa0;">
                                <div
                                    class="container d-flex align-items-center justify-content-center border-bottom border-top">
                                    <h1 class="text-center text-poppins my-2">Elige tu entrada:</h1>
                                </div>
                                <div class="container d-flex align-items-center justify-content-center border-bottom">
                                    <div class="col-6 col-xxl-7 d-flex align-items-center justify-content-start">
                                        <h1 class="text-start h3 my-2">VIP (S/ 50)</h1>
                                    </div>
                                    <div class="col-2 col-xxl-1 d-flex align-items-center justify-content-center">
                                        <i class="fas fa-minus-circle custom-effect"
                                            style="font-size: 2em; color:var(--morado)"
                                            onclick="cambiaEntradas('vip-')"></i>
                                    </div>
                                    <div class="col-2 col-xxl-2 d-flex align-items-center justify-content-center">
                                        <h1 class="text-center" id="cantidadVIP">0</h1>
                                    </div>
                                    <div class="col-2 col-xxl-1 d-flex align-items-center justify-content-center">
                                        <i class="fas fa-plus-circle custom-effect"
                                            style="font-size: 2em;color:var(--morado)"
                                            onclick="cambiaEntradas('vip+')"></i>
                                    </div>
                                </div>
                                <div class="container d-flex align-items-center justify-content-center border-bottom">
                                    <div class="col-6 col-xxl-7 d-flex align-items-center justify-content-start">
                                        <h1 class="text-start h3 my-2">GENERAL (S/ 30)</h1>
                                    </div>
                                    <div class="col-2 col-xxl-1 d-flex align-items-center justify-content-center">
                                        <i class="fas fa-minus-circle custom-effect"
                                            style="font-size: 2em;color:var(--morado)"
                                            onclick="cambiaEntradas('general-')"></i>
                                    </div>
                                    <div class="col-2 col-xxl-2 d-flex align-items-center justify-content-center">
                                        <h1 class="text-center" id="cantidadGeneral">0</h1>
                                    </div>
                                    <div class="col-2 col-xxl-1 d-flex align-items-center justify-content-center">
                                        <i class="fas fa-plus-circle custom-effect"
                                            style="font-size: 2em;color:var(--morado)"
                                            onclick="cambiaEntradas('general+')"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Total a pagar -->
            <div class=" container d-grid d-md-flex p-0 m-0 mt-3">
                <div class="container d-grid">
                    <div class="container d-grid">
                        <div class="container d-grid border-round" style="background-color:white;">
                            <div class="col-12 d-flex my-2 justify-content-center align-items-center border-bottom">
                                <h1 class="text-center">Total a pagar</h1>
                            </div>
                            <div class="col-12 mt-2 d-flex">
                                <div class="col-4 d-flex">
                                    <h1 class="h3">VIP (S/50)</h1>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <h1 class="text-end h3" id="cantidadVIP2">0</h1>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <h1 class="text-end h3" id="totalVIP">0</h1>
                                </div>
                            </div>
                            <div class="col-12 mt-2 d-flex">
                                <div class="col-4 d-flex">
                                    <h1 class="h3">GENERAL (S/30)</h1>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <h1 class="text-end h3" id="cantidadGeneral2">0</h1>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <h1 class="text-end h3" id="totalGeneral">0</h1>
                                </div>
                            </div>
                            <div class="col-12 my-2 d-flex border-top">
                                <div class="col-4 d-flex">
                                    <h1 class="h3">TOTAL</h1>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <h1 class="text-end h3" id="">-</h1>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <h1 class="text-end h3" id="total">0</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center mt-3">
                            <button type="button" class="btn btn-danger btn-lg" style="font-size: 2em;"
                                id="buttonContinuar" onclick="mostrarCampos()">Continuar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contenedor llenar datos -->
            <div class=" container d-grid p-0 m-0 mt-3" style="background-color: white; display: none!important;"
                id="containerObligatorio">
                <div class="col-12 col-lg-8 d-grid mx-0 p-1 mx-lg-3 mx-md-2 mx-sm-1 border-round-5 justify-content-center"
                    style="justify-self: center;">
                    <div class="container text-poppins-500 text-center mt-2" style="font-size: 1.8em;">Por su
                        seguridad
                        ingrese estos datos</div>
                    <div class="col-xxl-8 col-xl-9 col-md-10 col-12 d-grid" style="justify-self: center;">
                        <div class="mt-3 text-poppins-500">
                            <label for="inputCelular" class="form-label" style="font-size: 1.5em;"><i
                                    class="fas fa-mobile-alt"></i>&nbsp;Celular</label>
                            <input type="text" class="form-control text-center" id="inputCelular" maxlength="9"
                                inputmode="numeric" aria-describedby="celularHelp" onkeyup="enviarCodigoSMS(event)">
                            <div id="celularHelp" class="form-text">Se enviara un mensaje de texto, con un codigo de
                                validacion al celular ingresado.
                            </div>
                        </div>

                        <div class="mt-3 text-poppins-500 d-none" id="containerDNI">
                            <label for="inputDNI" class="form-label" style="font-size: 1.5em;"><i
                                    class="fas fa-id-card"></i>&nbsp;DNI</label>
                            <input type="text" class="form-control text-center" id="inputDNI" aria-describedby="dniHelp"
                                inputmode="numeric" maxlength="8" onkeyup="verificarDNI(event)">
                            <div id="dniHelp" class="form-text">Se verificara su DNI con el codigo unico de
                                verificacion.
                            </div>
                        </div>

                        <div class="mt-3 text-poppins-500 d-none" id="containerNombre">
                            <label for="inputNombre" class="form-label" style="font-size: 1.5em;"><i
                                    class="fas fa-signature"></i>&nbsp;Nombres y Apellidos</label>
                            <input type="text" class="form-control text-center" id="inputNombre"
                                aria-describedby="nombreHelp" onkeyup="convertirMayusculas('inputNombre')">
                            <div id="nombreHelp" class="form-text">Ingresar su nombre como figura en su DNI.
                            </div>
                        </div>

                        <div class="mt-3 text-poppins-500 d-none" id="containerPIN">
                            <label for="inputPIN" class="form-label" style="font-size: 1.5em;"><i
                                    class="fas fa-key"></i>&nbsp;PIN
                                secreto</label>
                            <input type="text" class="form-control text-center" id="inputPIN" aria-describedby="pinHelp"
                                inputmode="numeric" onkeyup="filtrarNumeros('inputPIN')">
                            <div id="pinHelp" class="form-text">Debe recordar su PIN de seguridad por cualquier
                                incoveniente.
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-center my-3">
                            <button type="button" class="btn btn-dark btn-lg text-white" style="font-size: 1em;"
                                id="buttonOpcionales" onclick="agregarOpcionales()" disabled>Agregar datos
                                opcionales</button>
                        </div>

                        <div class="col-12 d-flex justify-content-center my-3">
                            <button type="button" class="btn btn-danger btn-lg" style="font-size: 2em;" id="buttonPagar"
                                disabled onclick="generarCompra()">Generar compra</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Opcional -->
            <div class=" container d-grid p-0 m-0 mt-3 bg-white d-none" id="containerOpcional">
                <div class="col-12 col-lg-8 d-grid mx-0 p-1 mx-lg-3 mx-md-2 mx-sm-1 border-round-5 justify-content-center"
                    style="justify-self: center;">
                    <div class="container text-poppins-500 text-center mt-2" style="font-size: 1.8em;">2 Datos
                        opcionales de seguridad</div>
                    <div class="col-xxl-8 col-xl-9 col-md-10 col-12 d-grid" style="justify-self: center;">

                        <div class="mt-3 text-poppins-500">
                            <label for="inputCorreo" class="form-label" style="font-size: 1.5em;"><i
                                    class="fas fa-envelope"></i>&nbsp;Correo</label>
                            <input type="text" class="form-control text-center" id="inputCorreo" maxlength="50"
                                inputmode="text" aria-describedby="correoHelp"
                                placeholder="Ingrese su correo electronico"
                                onchange="verificarCorreoValido('inputCorreo')">
                            <input type="text" class="form-control text-center" id="inputCorreo2" maxlength="50"
                                inputmode="text" aria-describedby="correoHelp"
                                placeholder="Repita su correo electronico"
                                onchange="verificarCorreoValido('inputCorreo2')">
                            <div id="correoHelp" class="form-text">Debe ingresar su correo actual.
                            </div>
                        </div>

                        <div class="mt-3 text-poppins-500 d-grid" id="containerR1">
                            <label for="inputR1" class="form-label" style="font-size: 1.5em;"><i
                                    class="fas fa-question-circle"></i>&nbsp;Pregunta 1</label>
                            <select class="form-select text-center txt-md-07" id="inputP1" aria-describedby="R1Help"
                                onchange="pregunta1 = this.value">
                                {%for pregunta in preguntas%}
                                <option value={{forloop.counter}}>{{pregunta}}</option>
                                {%endfor%}
                            </select>
                            <input type="text" class="form-control text-center" id="inputR1" aria-describedby="R1Help"
                                inputmode="text" maxlength="50" placeholder="Respuesta a la pregunta 1"
                                onchange="respuesta1 = this.value">
                        </div>

                        <div class="mt-3 text-poppins-500 d-none" id="containerR2">
                            <label for="inputDNI" class="form-label" style="font-size: 1.5em;"><i
                                    class="fas fa-question-circle"></i>&nbsp;Pregunta 2</label>
                            <select class="form-select text-center txt-md-07" id="inputP2" aria-describedby="R2Help"
                                onchange="pregunta2 = this.value">
                                {%for pregunta in preguntas%}
                                <option value={{forloop.counter}}>{{pregunta}}</option>
                                {%endfor%}
                            </select>
                            <input type="text" class="form-control text-center" id="inputR2" aria-describedby="R2Help"
                                inputmode="text" maxlength="50" placeholder="Respuesta a la pregunta 2"
                                onchange="respuesta2 = this.value">
                        </div>

                        <div class="mt-3 text-poppins-500 d-none" id="containerR3">
                            <label for="inputDNI" class="form-label" style="font-size: 1.5em;"><i
                                    class="fas fa-question-circle"></i>&nbsp;Pregunta 3</label>
                            <select class="form-select text-center txt-md-07" id="inputP3" aria-describedby="R3Help"
                                onchange="pregunta3 = this.value">
                                {%for pregunta in preguntas%}
                                <option value={{forloop.counter}}>{{pregunta}}</option>
                                {%endfor%}
                            </select>
                            <input type="text" class="form-control text-center" id="inputR3" aria-describedby="R3Help"
                                inputmode="text" maxlength="50" placeholder="Respuesta a la pregunta 3"
                                onchange="respuesta3 = this.value">
                        </div>
                    </div>

                    <div class="col-12 d-flex justify-content-center my-3" id="buttonAgregarPregunta">
                        <button type="button" class="btn btn-dark btn-lg text-white" style="font-size: 1em;"
                            onclick="agregarPregunta()">Agregar otra pregunta de
                            seguridad</button>
                    </div>

                    <div class="col-12 d-flex justify-content-center my-3">
                        <button type="button" class="btn btn-danger btn-lg" style="font-size: 2em;" id="buttonPagar2"
                            onclick="generarCompra2()">Generar compra</button>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div class="container-fluid d-grid d-md-flex gradient-bg m-0 mt-2 align-items-center p-0">
                <div class="col-md-12 d-grid justify-content-center my-1">
                    <img src="{% static 'imagenes/footerlogo.png' %}"
                        style="width: 100%; min-width: 50px; max-width: 50px; cursor: pointer;"
                        onclick="javascript:window.location.reload(true)" />
                </div>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script defer src="{% static 'comprarPage/script.js' %}"></script>
</body>


</html>