:root {
    --red: #FF0043;
    --white: #ffffff;
    --verde: #07A781;
    --morado: #7643F6;
    --negro: #000000;
    --gris: #858484;
    --yelow: #d9e806;
    --azul: #01A0E2;
    --rosado: #EC1074;
    --naraja: #F9970E;
}

.gradient-bg {
    background: linear-gradient(to right, var(--red), var(--negro));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.border-round-5 {
    border-radius: 15px;
    border-color: var(--red);
    border-style: solid;
    border-width: 5px;
}

.justify-content-stretch {
    justify-content: stretch;
}